/* Space out content a bit */
body {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
a,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
a, a:visited{
  cursor: pointer;
  color: rgba(0, 0, 0, .87);
}
a:hover{
  color: #1DE9B6;
}
a:active{
  text-decoration: none;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header .logo{
  height: 104px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.header .logo .logotype {
  font-size: 2.5em;
}

.header .logo .icon {
  font-size: 4em;
  margin-right: 0.3em;
  transition: transform 1s ease-in-out;
  color: rgba(0, 0, 0, .87);
}
.header .icon:hover{
  transform: rotate(1080deg);
}
.header .search{
  font-size: 3.8em;
  text-align: center;
}
.navbar{
  background-color: #ffffff;
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  position: absolute;
  width: 100vw;
  bottom: 0;
}
.nav-tabs {
  background-color: rgba(0, 0, 0, .3);
}

.nav-tabs li {
  background-color: #757575;
}

.nav-tabs li.active {
  background-color: #1DE9B6;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  #now-playing{
    float: right;
    width: 100%;
  }
  #now-playing.affix{
    position: fixed;
    right: 15px;
    top: 15px;
    float: none;
    width: 25%;
    padding-left: 30px;
  }
  h2{
    font-size: 1em;
    margin: 0.2em 0;
    color: rgba(0, 0, 0, 0.5);
  }
  input[type='text'], select:focus {
    color: black;
  }




}
