/* Space out content a bit */
body {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
a{
  cursor: pointer;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header .logo{
  height: 104px;
  padding: 20px;
  display: flex;
  align-items: center;
}
.header .logo .logotype {
  font-size: 2.5em;
}

.header .logo .icon {
  font-size: 4em;
  margin-right: 0.3em;
  transition: transform 1s ease-in-out;
}
.header .icon:hover{
  transform: rotate(1080deg);
}

/* Custom page footer */
.footer {
  border-top: 1px solid #e5e5e5;
  position: absolute;
  width: 100vw;
  bottom: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  #now-playing{
    float: right;
  }
  #now-playing.affix{
    position: fixed;
    right: 15px;
    top: 0;
    float: none;
  }
  h2{
    font-size: 1em;
    margin: 0.8em 0;
    color: rgba(0, 0, 0, 0.5);
  }

}
