pst-track .name{
  font-size: 1.8em;
}
pst-track .duration{
  color: rgba(0, 0, 0, 0.4);
}
.animate.ng-leave{
  -webkit-animation:0.5s fadeOut ease-in;
  -moz-animation:0.5s fadeOut ease-in;
  -o-animation:0.5s fadeOut ease-in;
  animation:0.5s fadeOut ease-in;
  height: auto;
}
.animate{
  transform: translateX(0);
}

@keyframes fadeOut {
  from {
    opacity:1;
    transform: translateX(0);
  }
  to {
    opacity:0;
    transform: translateX(255px);

  }
}
