<div class="panel panel-default">
  <div class="panel-body">
    <div class="name">{{track.name}}</div>
    <div class="artist">{{track.artists | joinArtistNames}}</div>
    <div class="album">{{track.album.name}}</div>
    <div class="duration">{{track.duration_ms | date:'mm:ss'}}</div>
  </div>
  <div class="panel-footer">
    <div class="actions">
        <div class="btn-group">
          <a class="btn btn-flat btn-default dropdown-toggle" data-toggle="dropdown">
            add to playlist
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="pl in playlists">
              <a ng-click="addTrackToPlaylist(track, pl)">{{pl.name}}</a>
            </li>
          </ul>
        </div>
      <button class="btn btn-default" ng-click="playTrack(track)">play now</button>
      <button class="btn btn-default" ng-click="queueTrack(track)">queue</button>
      <button class="btn btn-danger" ng-if="playlist" ng-click="removeTrackFromPlaylist(firebaseId, playlist)">delete</button>
    </div>
  </div>
</div>
