<div class="track">
  <div class="name">{{track.name}}</div>
  <div class="artist">{{track.artist}}</div>
  <div class="album">{{track.album.name}}</div>
  <div class="duration">{{track.duration_ms | date:'mm:ss'}}</div>
  <div class="actions">
    <select ng-model="track.destinedPlaylist" ng-if="playlists"  ng-options="playlist.name for playlist in playlists">
      <option value="">Select..</option>
    </select>
    <button ng-click="addTrackToPlaylist(track)">add to playlist</button>
    <button>play now</button>
    <button>queue</button>
  </div>
</div>
