<div class="buttons">
  <a class="pull-left" ng-click="previous()">
    <i class="fa fa-fast-backward"></i>
  </a>
  <a class="play" ng-show="state.playState !== states.PLAYING"
     ng-click="play()">
    <i class="fa fa-play"></i>
  </a>
  <a class="pause" ng-show="state.playState === states.PLAYING"
     ng-click="pause()">
    <i class="fa fa-pause"></i>
  </a>
  <a class="pull-right" ng-click="next()"><i class="fa fa-fast-forward"></i></a>
</div>

<input type="range" min="0" ng-model="position.seconds" max="{{ current.duration }}" step="1">

{{position.seconds * 1000 | date:'mm:ss'}} / {{(current.duration || 0) * 1000 | date:'mm:ss'}}
