<div class="jumbotron" ng-if="playlistNotFound">
  <h1>Not Found</h1>
  <p>The playlist you requested does not exist. Sorry.</p>
</div>
<div ng-if="!playlistNotFound" style="-webkit-transform: translateX(0); transform: translateX(0);">
  <div class="jumbotron" >
    <h1>{{playlist.name}}</h1>
    <p> {{ playlist.tracks | trackCount }} tracks, {{ playlist.tracks | totalLength | date:'mm:ss'}}</p>
    <p>

    <button ng-click="playPlaylist(playlist.tracks)"
                       class="btn btn-default btn-flat btn-lg">
      Play
    </button>
    <button ng-confirm-click="Your playlist will be deleted." confirmed-click="deletePlaylist(playlist)"
            class="btn btn-danger btn-flat btn-lg">
      Delete
    </button>
      <button class="btn btn-default btn-flat btn-lg" ng-click="editName()">Rename</button>
    <form ng-show="editingName" ng-submit="renamePlaylist(playlist, newName)">
      <div class="form-group">
        <input type="text" class="form-control floating-label" placeholder="Enter new name.." ng-model="newName"/>
      </div>
    </form>

    </p>
  </div>

  <div class="animate" ng-repeat="(firebaseId, track) in playlist.tracks">
    <pst-track>
  </div>
